# Dynamic Credit Line Adjustment System  
## Phase 1: Probability of Default (PD) Model  

Author: Rudransh Shukla  
Objective: Predict Probability of Default (PD) using Logistic Regression  
Framework: CRISP-DM

## 1. Business Understanding

Goal:
Build a Probability of Default (PD) model to support a dynamic credit line adjustment system.

Business Use:
- Identify high-risk customers
- Reduce exposure for risky accounts
- Increase limits for low-risk accounts

Evaluation Metric:
- ROC-AUC

In [60]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

In [61]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

load the dataset

In [62]:
dataset_path = '/content/drive/MyDrive/phase2_clean.parquet'

try:
    df = pd.read_parquet(dataset_path)
    print(f"Dataset loaded successfully from: {dataset_path}")
except FileNotFoundError:
    print(f"Error: The file '{dataset_path}' was not found. Please ensure the file is uploaded to your Google Drive and the path is correct.")
except Exception as e:
    print(f"An error occurred while loading the dataset: {e}")

Dataset loaded successfully from: /content/drive/MyDrive/phase2_clean.parquet

now we check for data inconsistency, see if there are any extreme outliers

In [63]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
loan_amnt,1345310.0,14419.972014,8717.050787,500.00,8000.00,12000.000000,20000.00,4.000000e+04
term,1345310.0,41.790196,10.268321,36.00,36.00,36.000000,36.00,6.000000e+01
int_rate,1345310.0,13.239619,4.768716,5.31,9.75,12.740000,15.99,3.099000e+01
installment,1345310.0,438.075533,261.512604,4.93,248.48,375.430000,580.73,1.719830e+03
revol_util,1344453.0,51.810022,24.521072,0.00,33.40,52.200000,70.70,8.923000e+02
revol_bal,1345310.0,16248.114860,22328.168731,0.00,5943.00,11134.000000,19755.75,2.904836e+06
bc_util,1283398.0,59.939572,28.293216,0.00,38.30,63.200000,84.80,3.396000e+02
all_util,537545.0,58.176372,20.935438,0.00,44.00,59.000000,73.00,1.980000e+02
total_rev_hi_lim,1277783.0,32790.937175,36642.589282,0.00,14000.00,24100.000000,40600.00,9.999999e+06
bc_open_to_buy,1284167.0,10186.234200,15350.837521,0.00,1464.00,4700.000000,12383.00,5.599120e+05
max_bal_bc,537598.0,5537.703496,5471.949360,0.00,2180.00,4201.000000,7198.75,7.768430e+05
total_bc_limit,1298029.0,21634.001579,21554.777626,0.00,7800.00,15100.000000,28100.00,1.105500e+06
total_bal_ex_mort,1298029.0,49666.350576,47743.630967,0.00,20886.00,37296.000000,62548.00,3.408095e+06
tot_hi_cred_lim,1277783.0,174387.849314,178096.069957,0.00,49620.50,112373.000000,252076.00,9.999999e+06
total_il_high_credit_limit,1277783.0,42133.194345,43252.130975,0.00,14738.00,31681.000000,56635.00,2.101913e+06
total_bal_il,537598.0,35862.010058,42906.627310,0.00,9605.00,24062.000000,46724.75,1.711009e+06
avg_cur_bal,1277761.0,13488.609864,16289.696836,0.00,3101.00,7407.000000,18717.00,9.580840e+05
fico_range_low,1345310.0,696.185039,31.852512,625.00,670.00,690.000000,710.00,8.450000e+02
fico_range_high,1345310.0,700.185177,31.853161,629.00,674.00,694.000000,714.00,8.500000e+02
mo_sin_old_rev_tl_op,1277782.0,181.476039,94.505124,2.00,117.00,164.000000,230.00,8.520000e+02
mo_sin_old_il_acct,1239735.0,125.797612,52.233363,0.00,98.00,129.000000,152.00,9.990000e+02
inq_last_6mths,1345309.0,0.655081,0.937774,0.00,0.00,0.000000,1.00,8.000000e+00
inq_last_12m,537597.0,2.312381,2.542073,0.00,1.00,2.000000,3.00,6.700000e+01
acc_open_past_24mths,1298029.0,4.692870,3.186810,0.00,2.00,4.000000,6.00,6.400000e+01
mths_since_recent_inq,1171239.0,6.713209,5.849949,0.00,2.00,5.000000,10.00,2.500000e+01
mths_since_recent_bc,1285089.0,23.817744,30.733113,0.00,6.00,13.000000,28.00,6.390000e+02
mths_since_recent_revol_delinq,449962.0,35.804695,22.428202,0.00,17.00,33.000000,52.00,2.020000e+02
open_acc,1345310.0,11.593520,5.473789,0.00,8.00,11.000000,14.00,9.000000e+01
total_acc,1345310.0,24.980839,11.998474,2.00,16.00,23.000000,32.00,1.760000e+02
num_rev_accts,1277782.0,14.610344,8.119309,0.00,9.00,13.000000,19.00,1.280000e+02
num_rev_tl_bal_gt_0,1277783.0,5.592656,3.215269,0.00,3.00,5.000000,7.00,4.500000e+01
num_actv_rev_tl,1277783.0,5.643482,3.301790,0.00,3.00,5.000000,7.00,6.300000e+01
num_bc_tl,1277783.0,8.101105,4.800886,0.00,5.00,7.000000,11.00,7.000000e+01
num_bc_sats,1289469.0,4.734225,2.952396,0.00,3.00,4.000000,6.00,6.300000e+01
num_sats,1289469.0,11.639073,5.482487,0.00,8.00,11.000000,14.00,9.000000e+01
delinq_2yrs,1345310.0,0.317794,0.877992,0.00,0.00,0.000000,0.00,3.900000e+01
acc_now_delinq,1345310.0,0.005046,0.077161,0.00,0.00,0.000000,0.00,1.400000e+01
delinq_amnt,1345310.0,14.895527,809.525075,0.00,0.00,0.000000,0.00,2.499250e+05
pub_rec,1345310.0,0.215276,0.601865,0.00,0.00,0.000000,0.00,8.600000e+01
pub_rec_bankruptcies,1344613.0,0.134444,0.377929,0.00,0.00,0.000000,0.00,1.200000e+01
collections_12_mths_ex_med,1345254.0,0.017134,0.146915,0.00,0.00,0.000000,0.00,2.000000e+01
tax_liens,1345271.0,0.052130,0.397911,0.00,0.00,0.000000,0.00,8.500000e+01
annual_inc,1345310.0,76247.636414,69925.098427,0.00,45780.00,65000.000000,90000.00,1.099920e+07
emp_length,1266799.0,5.965873,3.691166,0.00,2.00,6.000000,10.00,1.000000e+01
default,1345310.0,0.199626,0.399719,0.00,0.00,0.000000,0.00,1.000000e+00
credit_age,1345310.0,197.956704,91.386227,36.50,136.90,179.566667,243.50,1.013567e+03

data preprocessing

In [64]:
(df['revol_util'] > 200).sum()

np.int64(2)

In [65]:
df.loc[df['revol_util'] > 100 , 'revol_util'] = np.nan

In [66]:
df.loc[df['bc_util'] > 100 , 'bc_util'] = np.nan

In [67]:
df.loc[df['all_util'] > 100 , 'all_util'] = np.nan

In [68]:
df.loc[df['total_rev_hi_lim'] == 9999999, 'total_rev_hi_lim'] = np.nan
df.loc[df['tot_hi_cred_lim'] == 9999999, 'tot_hi_cred_lim'] = np.nan

now looking at our df.describe().T we see that annual income is very high so we check for the 99.9% of the data

In [69]:
df['annual_inc'].quantile(0.999)

np.float64(577382.0000002161)

In [70]:
income_cap = df['annual_inc'].quantile(0.999)

df.loc[df['annual_inc'] > income_cap, 'annual_inc'] = income_cap

In [71]:
df['revol_bal'].quantile(0.999)

np.float64(263117.8930000025)

In [72]:
revol_bal_cap = df['revol_bal'].quantile(0.999)

df.loc[df['revol_bal'] > revol_bal_cap , 'revol_bal'] = revol_bal_cap

In [73]:
(df['annual_inc'] == 0).sum()

np.int64(361)

In [74]:
df.loc[df['annual_inc'] == 0 , 'annual_inc'] = np.nan

In [75]:
df['total_rev_hi_lim'].quantile(0.999)

np.float64(342543.9120000098)

In [76]:
total_limit_cap = df['total_rev_hi_lim'].quantile(0.999)

In [77]:
df.loc[df['total_rev_hi_lim'] > total_limit_cap , 'total_rev_hi_lim'] = np.nan

In [78]:
df.describe(percentiles=[0.9, 0.95, 0.99, 0.999]).T

,count,mean,std,min,50%,90%,95%,99%,99.9%,max
loan_amnt,1345310.0,14419.972014,8717.050787,500.00,12000.000000,28000.000000,32875.000000,35000.000000,4.000000e+04,4.000000e+04
term,1345310.0,41.790196,10.268321,36.00,36.000000,60.000000,60.000000,60.000000,6.000000e+01,6.000000e+01
int_rate,1345310.0,13.239619,4.768716,5.31,12.740000,19.520000,22.150000,26.300000,3.089000e+01,3.099000e+01
installment,1345310.0,438.075533,261.512604,4.93,375.430000,807.920000,963.660000,1221.500000,1.368660e+03,1.719830e+03
revol_util,1339766.0,51.629353,24.359060,0.00,52.000000,84.600000,91.000000,97.500000,9.970000e+01,1.000000e+02
revol_bal,1345310.0,16125.862924,19748.077832,0.00,11134.000000,32425.000000,43374.000000,94553.910000,2.631130e+05,2.631179e+05
bc_util,1262137.0,59.218516,27.961860,0.00,62.400000,94.500000,97.200000,99.300000,1.000000e+02,1.000000e+02
all_util,530951.0,57.540089,20.240626,0.00,59.000000,83.000000,88.000000,97.000000,1.000000e+02,1.000000e+02
total_rev_hi_lim,1276502.0,32326.125362,29789.381564,0.00,24000.000000,64200.000000,85200.000000,151800.000000,2.782499e+05,3.425280e+05
bc_open_to_buy,1284167.0,10186.234200,15350.837521,0.00,4700.000000,26299.400000,38995.700000,74182.680000,1.346504e+05,5.599120e+05
max_bal_bc,537598.0,5537.703496,5471.949360,0.00,4201.000000,11644.000000,15534.000000,24380.000000,4.145963e+04,7.768430e+05
total_bc_limit,1298029.0,21634.001579,21554.777626,0.00,15100.000000,47200.000000,63100.000000,103700.000000,1.704000e+05,1.105500e+06
total_bal_ex_mort,1298029.0,49666.350576,47743.630967,0.00,37296.000000,99568.000000,133175.600000,234494.320000,4.326404e+05,3.408095e+06
tot_hi_cred_lim,1277771.0,174295.573520,175532.996085,0.00,112372.000000,395031.000000,498138.500000,766748.900000,1.392391e+06,8.700253e+06
total_il_high_credit_limit,1277783.0,42133.194345,43252.130975,0.00,31681.000000,90692.800000,120109.000000,203651.260000,3.614216e+05,2.101913e+06
total_bal_il,537598.0,35862.010058,42906.627310,0.00,24062.000000,81007.000000,112006.150000,205083.390000,3.858982e+05,1.711009e+06
avg_cur_bal,1277761.0,13488.609864,16289.696836,0.00,7407.000000,32220.000000,43045.000000,73526.800000,1.421755e+05,9.580840e+05
fico_range_low,1345310.0,696.185039,31.852512,625.00,690.000000,740.000000,760.000000,800.000000,8.300000e+02,8.450000e+02
fico_range_high,1345310.0,700.185177,31.853161,629.00,694.000000,744.000000,764.000000,804.000000,8.340000e+02,8.500000e+02
mo_sin_old_rev_tl_op,1277782.0,181.476039,94.505124,2.00,164.000000,312.000000,363.000000,473.000000,5.960000e+02,8.520000e+02
mo_sin_old_il_acct,1239735.0,125.797612,52.233363,0.00,129.000000,180.000000,212.000000,273.000000,3.660000e+02,9.990000e+02
inq_last_6mths,1345309.0,0.655081,0.937774,0.00,0.000000,2.000000,3.000000,4.000000,5.000000e+00,8.000000e+00
inq_last_12m,537597.0,2.312381,2.542073,0.00,2.000000,5.000000,7.000000,11.000000,1.900000e+01,6.700000e+01
acc_open_past_24mths,1298029.0,4.692870,3.186810,0.00,4.000000,9.000000,11.000000,15.000000,2.200000e+01,6.400000e+01
mths_since_recent_inq,1171239.0,6.713209,5.849949,0.00,5.000000,16.000000,19.000000,23.000000,2.400000e+01,2.500000e+01
mths_since_recent_bc,1285089.0,23.817744,30.733113,0.00,13.000000,59.000000,86.000000,144.000000,2.710000e+02,6.390000e+02
mths_since_recent_revol_delinq,449962.0,35.804695,22.428202,0.00,33.000000,70.000000,76.000000,81.000000,1.050000e+02,2.020000e+02
open_acc,1345310.0,11.593520,5.473789,0.00,11.000000,19.000000,22.000000,29.000000,4.000000e+01,9.000000e+01
total_acc,1345310.0,24.980839,11.998474,2.00,23.000000,41.000000,47.000000,61.000000,8.000000e+01,1.760000e+02
num_rev_accts,1277782.0,14.610344,8.119309,0.00,13.000000,25.000000,30.000000,41.000000,5.600000e+01,1.280000e+02
num_rev_tl_bal_gt_0,1277783.0,5.592656,3.215269,0.00,5.000000,10.000000,12.000000,16.000000,2.300000e+01,4.500000e+01
num_actv_rev_tl,1277783.0,5.643482,3.301790,0.00,5.000000,10.000000,12.000000,17.000000,2.400000e+01,6.300000e+01
num_bc_tl,1277783.0,8.101105,4.800886,0.00,7.000000,14.000000,17.000000,23.000000,3.300000e+01,7.000000e+01
num_bc_sats,1289469.0,4.734225,2.952396,0.00,4.000000,8.000000,10.000000,15.000000,2.200000e+01,6.300000e+01
num_sats,1289469.0,11.639073,5.482487,0.00,11.000000,19.000000,22.000000,29.000000,4.000000e+01,9.000000e+01
delinq_2yrs,1345310.0,0.317794,0.877992,0.00,0.000000,1.000000,2.000000,4.000000,9.000000e+00,3.900000e+01
acc_now_delinq,1345310.0,0.005046,0.077161,0.00,0.000000,0.000000,0.000000,0.000000,1.000000e+00,1.400000e+01
delinq_amnt,1345310.0,14.895527,809.525075,0.00,0.000000,0.000000,0.000000,0.000000,1.075146e+03,2.499250e+05
pub_rec,1345310.0,0.215276,0.601865,0.00,0.000000,1.000000,1.000000,2.000000,6.000000e+00,8.600000e+01
pub_rec_bankruptcies,1344613.0,0.134444,0.377929,0.00,0.000000,1.000000,1.000000,1.000000,3.000000e+00,1.200000e+01
collections_12_mths_ex_med,1345254.0,0.017134,0.146915,0.00,0.000000,0.000000,0.000000,1.000000,2.000000e+00,2.000000e+01
tax_liens,1345271.0,0.052130,0.397911,0.00,0.000000,0.000000,0.000000,2.000000,5.000000e+00,8.500000e+01
annual_inc,1344949.0,75718.939271,48989.450331,1.00,65000.000000,125000.000000,155000.000000,250000.000000,5.773820e+05,5.773820e+05
emp_length,1266799.0,5.965873,3.691166,0.00,6.000000,10.000000,10.000000,10.000000,1.000000e+01,1.000000e+01
default,1345310.0,0.199626,0.399719,0.00,0.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000e+00
credit_age,1345310.0,197.956704,91.386227,36.50,179.566667,323.633333,374.366667,484.933333,6.067000e+02,1.013567e+03

In [79]:
cap = df['delinq_amnt'].quantile(0.999)
df.loc[df['delinq_amnt'] > cap, 'delinq_amnt'] = cap

In [80]:
df['delinq_amnt'].quantile([0.99, 0.995, 0.999])

0.990       0.000000
0.995       0.000000
0.999    1073.864886
Name: delinq_amnt, dtype: float64

In [81]:
# now we freeze the data set

In [82]:
df.drop('loan_status',axis = 1,inplace= True)

In [83]:
df_clean = df.copy()

In [84]:
df_clean.to_parquet("/content/drive/MyDrive/pd_cleaned.parquet", index=False)

In [85]:
X = df_clean.drop("default", axis=1)
y = df_clean["default"]

In [86]:
y.value_counts(normalize=True)

default
0    0.800374
1    0.199626
Name: proportion, dtype: float64

After cleaning, separating numerical columns and categorical columns

In [87]:
num_cols = X.select_dtypes(include=np.number).columns
cat_cols = X.select_dtypes(exclude= np.number).columns

print("Numerical:", len(num_cols))
print("Categorical:", len(cat_cols))

Numerical: 45
Categorical: 4

In [88]:
cat_cols

Index(['purpose', 'verification_status', 'home_ownership', 'addr_state'], dtype='object')

Building the Piplines for numerical and categorical data preprocessing

In [89]:
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())
])
cat_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('encoder', OneHotEncoder(handle_unknown='ignore'))
])
preprocessor = ColumnTransformer([
    ("numerical",num_pipeline, num_cols),
    ('categorical',cat_pipeline, cat_cols)
])

building the model

In [90]:
model = LogisticRegression(
    max_iter= 1000,
    class_weight='balanced',
    random_state=42,
    n_jobs=-1
)

In [91]:
log_pipe = Pipeline([
    ('preprocessor', preprocessor),
    ('model', model)
])

In [92]:
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    stratify=y,
    random_state=42
)

print("Train shape:", X_train.shape)
print("Test shape:", X_test.shape)

Train shape: (1076248, 49)
Test shape: (269062, 49)

In [93]:
X_train_sample = X_train.sample(300000, random_state=42)
y_train_sample = y_train[X_train_sample.index]

In [94]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

Cross Validation for better results on unseen data

In [95]:
skf = StratifiedKFold(n_splits=3, shuffle = True, random_state=42)

log_cross_score = cross_val_score(
    log_pipe,
    X_train_sample,
    y_train_sample,
    cv=skf,
    scoring='roc_auc',
    n_jobs= 1,
    verbose=True
)

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   35.4s finished

In [96]:
print("CV AUCs:", log_cross_score)
print("Mean CV AUC:", log_cross_score.mean())

CV AUCs: [0.7139044  0.71623355 0.71384336]
Mean CV AUC: 0.7146604367382263

In [97]:
log_pipe.fit(X_train,y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('numerical',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  Index(['loan_amnt', 'term', 'int_rate', 'installment', 'revol_util',
       'revol_bal', 'bc_util', 'all_util', 'total_rev_hi_lim',
       'bc_open_to_buy', 'max_bal_bc', 'total_bc_limit', 'total_bal_ex_mort'...
       'credit_age'],
      dtype='object')),
                                                 ('categorical',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('encoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  Index(['purpose', 'verification_status', 'home_ownership', 'addr_state'], dtype='object'))])),
                ('model',
                 LogisticRegression(class_weight='balanced', max_iter=1000,
                                    n_jobs=-1, random_state=42))])

In [98]:
test_prob = log_pipe.predict_proba(X_test)[:,1]

In [99]:
test_auc = roc_auc_score(y_test,test_prob)

In [100]:
print("Final Test AUC:", test_auc)

Final Test AUC: 0.7139224255925487

now our model gives probabilities for default or PD but it doesn't give us the financial decision so we define some features like:-
1. ead:- Exposure At Default(the amount exposed to the bank or lending company after default)
2. pd_score:- the probability score
3. actual default:- actual outcome
4. risk bucket:- segmenting pd_score in 5 sections to find the connection between pd_score and actual default
5. lgd :- loss given default
6. expected_loss:- the expected loss on an individual for the bank for lending money which is basically (ead * lgd * pd_score)

In [101]:
X_test_with_pd = X_test.copy()
X_test_with_pd['pd_score'] = test_prob
X_test_with_pd['actual_default'] = y_test.values

X_test_with_pd[['pd_score','actual_default']].head()

         pd_score  actual_default
1311262  0.372454               0
823606   0.339770               0
196043   0.404968               0
810959   0.393673               0
1157129  0.469992               0

In [102]:
X_test_with_pd['risk_bucket'] = pd.qcut(
    X_test_with_pd['pd_score'],
    q=5,
    labels=['Very Low','Low','Medium','High','Very High']
)

In [103]:
X_test_with_pd['risk_bucket'].value_counts()

risk_bucket
Very Low     53813
Very High    53813
Low          53812
Medium       53812
High         53812
Name: count, dtype: int64

In [104]:
bucket_analysis = X_test_with_pd.groupby('risk_bucket')['actual_default'].mean()
bucket_analysis

/tmp/ipython-input-3765258614.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  bucket_analysis = X_test_with_pd.groupby('risk_bucket')['actual_default'].mean()

risk_bucket
Very Low     0.058220
Low          0.117167
Medium       0.174292
High         0.251078
Very High    0.397376
Name: actual_default, dtype: float64

In [105]:
X_test_with_pd['ead'] = X_test_with_pd['total_rev_hi_lim']

In [106]:
lgd = 0.6  #assuming that loss given default is 60% as organization is able to recover 40% of the cost

In [107]:
X_test_with_pd['expected_loss'] = X_test_with_pd['pd_score']*X_test_with_pd['ead']*lgd

In [108]:
baseline_portfolio_el = X_test_with_pd['expected_loss'].sum()
baseline_portfolio_el

np.float64(2082780556.0732586)

adding a limit adjustment logic to reduce the expected loss on a person

In [109]:
def adjust_limit(bucket):
    if bucket == 'Very Low':
        return 1.10
    elif bucket == 'Low':
        return 1.05
    elif bucket == 'Medium':
        return 1.00
    elif bucket == 'High':
        return 0.80
    else:
        return 0.60

X_test_with_pd['limit_multiplier'] = (
    X_test_with_pd['risk_bucket'].apply(adjust_limit)
)

calculating the expected loss again with adjusted limit

In [110]:
X_test_with_pd['new_ead'] = (
    X_test_with_pd['ead'] * X_test_with_pd['limit_multiplier'].astype(float)
)

X_test_with_pd['adjusted_EL'] = (
    X_test_with_pd['pd_score'] * lgd * X_test_with_pd['new_ead']
)

adjusted_portfolio_EL = X_test_with_pd['adjusted_EL'].sum()

print("Adjusted Portfolio EL:", adjusted_portfolio_EL)

Adjusted Portfolio EL: 1789960862.8499682

In [111]:
reduction = baseline_portfolio_el - adjusted_portfolio_EL
reduction_per = (reduction/baseline_portfolio_el)*100

In [112]:
reduction_per

np.float64(14.059075612620179)

Conclusion:

A baseline PD model with AUC ~0.71 was developed using logistic regression.
Risk segmentation showed clear monotonic default behavior.
Applying a PD-driven dynamic limit adjustment policy reduced simulated portfolio expected loss by 14%.

Future Work:
- Hyperparameter tuning
- Model calibration
- Revenue-risk optimization
- Advanced models (XGBoost)